*{
    margin:0;
}
header{
    text-align: center;
    background-color: rgb(26, 25, 25);
    color:white;
    padding: 20px 0px;
    font-size: 35px;
}

.card{
    background-color: blue;
    color:white;
}